.testimonial{
    padding: 40px 40px 80px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialContainer{
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 90%;
}

.testimonialContainer > h1{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.reviews .individualReview {
    padding: 10px;
    text-align: center;
}

.reviews .individualReview .innerContainer{
    width: 95%;
}

.reviews .individualReview .profilePhoto{
    height: 75px;
    width: 75px;
    background: var(--blue);
    border-radius: 50%;
    margin: 0 auto;
}

.reviews .individualReview p{
    color: var(--blue);
    font-size: 15px;
    font-weight: 500;
    width: 95%;
}

.reviews li button::before{
    color: var(--white);
}

.reviews li.slick-active button::before{
    color: var(--white);
}

@media(max-width: 968px){
}

@media(max-width: 768px){
    .testimonial{
        padding: 20px 20px 40px 20px;
    }
}