@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --white: #F0F0F0;
    --grey: #D9D9D9;
    --blue: #00011D;
    --yellow: #FEC73F;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: var(--white);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--blue);
    overflow-x: hidden;
}

body.noScroll{
    overflow: hidden;
}

.searchSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

@media (max-width: 768px) {
    .searchSection {
        padding: 20px;
    }
}